@model ToDoApp.Models.Task

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Objective)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objective)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finished)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaskId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>

<div>
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>