@model IEnumerable<ToDoApp.Models.Task>

@{
    ViewBag.Title = "Tasks";
}

<h2>Tasks</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-light" /> |
            <a asp-action="Index">Back to List</a>
        </p>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Objective)
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.ClosingDate)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["FinishSortParm"]">@Html.DisplayNameFor(model => model.Finished)</a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Objective)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ClosingDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Finished)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |
        @Html.ActionLink("Details", "Details", new { id = item.TaskId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TaskId })
    </td>
</tr>
    }
</table>
