@model X.PagedList.IPagedList<ToDoApp.ViewModel.Users.UserViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-light" /> |
            <a asp-action="Index">Back to List</a>
        </p>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["LoginSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                @Html.DisplayNameFor(model => model.First().Login)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                @Html.DisplayNameFor(model => model.First().AdditionDate)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["TasksSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                @Html.DisplayNameFor(model => model.First().Tasks)
            </a>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasks.Count)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId }) |
                    @Html.ActionLink("Create Task", "Create", "Tasks", new { id = item.UserId }) 
                </td>
            }
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
                    new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" } })
